<?xml version="1.0"?>
<robot name="Z-Arm_10042C0" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- xacro argument -->
  <xacro:arg name="use_nominal_extrinsics" default="true"/>

  <!-- xacro include -->
  <xacro:include filename="$(find hitbot_sim)/urdf/Z-Arm_10042C0_gazebo_properties.urdf.xacro" />

  <!-- Mani Base -->
  <xacro:Z-Arm_10042C0_gazebo/>

</robot>