<?xml version="1.0" ?>
<robot name="Z-Arm_10042C0" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="Z-Arm_10042C0">
  <xacro:include filename="$(find hitbot_sim)/config/macro.gazebo.xacro" />
	<xacro:include filename="$(find hitbot_sim)/config/macro.transmission.xacro" />
  <xacro:include filename="$(find hitbot_sim)/config/macro.gazebo_control.xacro" />
      <!-- Import Z-Arm_10042C0 urdf file -->
  <xacro:include filename="$(find hitbot_sim)/urdf/Z-Arm_10042C1.urdf" />
  
		<xacro:hitbot_gazebo />
		<xacro:hitbot_transmission />    
    <xacro:hitbot_gazebo_control />
  </xacro:macro>
</robot>
