<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:macro name="hitbot_gazebo_control">

		<ros2_control name="GazeboSystem" type="system">
			<hardware>
				<plugin>gazebo_ros2_control/GazeboSystem</plugin>
	    	</hardware>

	    	<joint name="joint1">
	    		<command_interface name="position">
	    			<param name="min">-0.95</param>
	    			<param name="max">0.0</param>
	    		</command_interface>
	    		<state_interface name="position"/>
	    		<state_interface name="velocity"/>
	    		<state_interface name="effort"/>
	    	</joint>

	    	<joint name="joint2">
	    		<command_interface name="position">
	    			<param name="min">-1.571</param>
	    			<param name="max">1.571</param>
	    		</command_interface>
	    		<state_interface name="position"/>
	    		<state_interface name="velocity"/>
	    		<state_interface name="effort"/>
	    	</joint>

	    	<joint name="joint3">
	    		<command_interface name="position">
	    			<param name="min">-2.967</param>
	    			<param name="max">2.967</param>
	    		</command_interface>
	    		<state_interface name="position"/>
	    		<state_interface name="velocity"/>
	    		<state_interface name="effort"/>
	    	</joint>

	    	<joint name="joint4">
	    		<command_interface name="position">
	    			<param name="min">-18.859</param>
	    			<param name="max">18.859</param>
	    		</command_interface>
	    		<state_interface name="position"/>
	    		<state_interface name="velocity"/>
	    		<state_interface name="effort"/>
	    	</joint>
    
		</ros2_control>

		<gazebo>
			<plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
				<parameters>$(find hitbot_sim)/config/hitbot_control.yaml</parameters>
				<robot_sim_type>gazebo_ros2_control/DefaultRobotHWSim</robot_sim_type>
		    </plugin>
		</gazebo>

	</xacro:macro>
</robot>